@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.component-search-input {
  border-bottom: 1px solid rgba(204, 204, 204, 0.166);
  font-family: "Montserrat";
}

input {
  padding-left: 20px;
}
.component-search-input > div {
  margin: 0 10px 10px 10px;
  font-family: "Montserrat";
}

.component-search-input input {
  border-radius: 8px;
  border: 2px solid rgba(239, 239, 239, 0.759);
  box-sizing: border-box;
  font-size: 18px;
  padding: 10px 8px;
  margin-left: 20%;
  width: 60%;
  margin-bottom: 3%;
  font-family: "Montserrat";
  padding-left: 20px;
  padding-right: 40px;
  background-color: var(--dark-color);
  color: var(--light-color);
}

input:hover {
  box-shadow: rgba(239, 239, 239, 0.221) 0px 0px 10px;
  transition: 0.3s;
}
